.post-wrapper {
    background-color: #ffffff;
    padding: 10px;
    margin: 0 8% 20px;
    border-radius: 4px;

    .author-info {
        align-items: center;

        .author-name {
            a {
                color: #385898;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: #385898;
                }
            }

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                margin-left: 20px;
            }
        }

        .author-image img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .content {
        margin-top: 20px;

        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }

    .post-action-items {
        margin-top: 35px;

        img {
            margin-right: 2px;
        }

        > div {
            cursor: pointer;
            text-align: center;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 767px) {
        margin: 0 4% 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin: 0 6% 20px 0;
    }
}